 *{
     margin: 0;
     padding: 0;
 }
 body{
     font-family: "Segoe UI";
     font-size: 13px;
 }
 ul {
     list-style-type: none;
 }
 .book-list-item-wrapper .book-title {
     font-size: 22px;
 }
 .book-img, .no-img {
     float: left;
     width: 128px;
 }
 .no-img {
     text-align: center;
     line-height: 64px;
     font-size: 14px;
     font-weight: bold;
     color: #ccc;
 }
 .book-descr-wrapper {
     margin-left:150px;
 }
 .book-item-content {
     overflow: hidden;
     margin-top:30px;
 }

 .authors-box, .book-info {
     margin-bottom: 5px;
     color:#777;
     font-size: 13px;
 }
 .authors-box a {
     text-decoration: none;
 }

 .book-description {
     margin-top: 30px;
 }
 .cover-popup {
     position:fixed;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
     z-index: 1;
     background-color: rgb(0,0,0);
     background-color: rgba(0,0,0,0.4);
 }


